@()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Stats</title>
</head>
<body>
    <h1>Welcome to the jungle</h1>
    <h2>Enter your stats</h2>
    <p><span>Placeholder for Roll</span> <span>Placeholder for Point Buy</span></p>
    <div>
        <label for="strength">Strength</label>
        <input id="strength">
    </div>
    <div>
        <label for="dexterity">Dexterity</label>
        <input id="dexterity">
    </div>
    <div>
        <label for="consitution">Consitution</label>
        <input id="consitution">
    </div>
    <div>
        <label for="intelligence">Intelligence</label>
        <input id="intelligence">
    </div>
    <div>
        <label for="wisdom">Wisdom</label>
        <input id="wisdom">
    </div>
    <div>
        <label for="charisma">Charisma</label>
        <input id="charisma">
    </div>
</body>
</html>